/* logo font: Botang Regular
 * poster font: Roboto Medium
 *
 * poster dark palette:
 * 1a1a2e
 * 16213e
 * 0f3460
 * 7492e9
 *
 * poster light palette:
 * 251b37
 * 372948
 * ffcaca
 * ffecef
 */

body {
    background-image: url("../assets/bg-dark-small.jpg");
    background-size: cover;
    background-position: center, center;

    text-shadow: 1px black;

    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    color: #7492e9;

    overflow-x: hidden;
} 

.logo {
    /* https://angel-rs.github.io/css-color-filter-generator/ */
    filter: brightness(0) saturate(100%) invert(55%) sepia(56%) saturate(444%) hue-rotate(188deg) brightness(94%) contrast(94%);
}

.org-logo {
    width: 5vw;
}

#container {
    width: 100vw;
    min-height: 100vh;
    
    background-color: rgba(0, 0, 0, 0);
    
    main {
        display: grid;
        justify-content: center;
        width: 100vw;
        
        h1, h2, h3, h4, p, #ticket-button {
            display: flex;
            justify-content: center;
        }
    }
}

.split {
    display: flex;
    max-width: 100vw;
    .img-text-split {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        display: grid;
    }
}
.img-text-split p {
    max-width: 50vw;
    text-align: left;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}


#button-holder {
    margin-top: 2vh;
    form {
        display: flex;
        align-items: center;
    }
}

.rule-category {
    margin-bottom: 1vh;
    h3 {
        margin-bottom: -0.5vh;
    }
    p {
        max-width: 60vw;
    }
    li {
        max-width: 60vw;
    }
    display: grid;
    justify-content: center;
}

#computer-info-holder {
    display: flex;
    justify-content: center;
}

p {
    max-width: 80vw;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Orbitron";
}

#ruut-ry {
    color: #ffff00;
}

#ticket-button {
    display: block;
    margin: 0 auto;
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 8vh;
    min-width: 15vw;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 22px;
}

#ticket-button:hover {
    background-color: #F0F0F0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,  	#E0E0E0 0 -3px 0 inset;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
}

#event-countdown {
    font-weight: bold;
    font-size: 26px;
}

/* Navbar Styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0;
    font-size: 24px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 1em;
    display: block;
    transition: background-color 0.3s ease;
}
nav a:hover {
    color: #ffff00;
}

/* Ruut ry copyright*/
#ruut-logo {
    width: 100px;
    height: 100px;
}
#copyright-logo {
    font-size: 28px;
    color: #ffffff;
}

.contact-holder {
    display: grid;
}
.organizer-list {
    width: 33vw;
    list-style-type: none;
    margin-top: -1vh;
    margin-bottom: -1vh;
    margin-right: 2.25vw;
    .contact-individual {
        margin-top: -1vh;
        span {
            display: flex;
            justify-content: center;
            width: 33vw;
        }
    }
}
.embedded-anchor {
    position:initial;
    color: #ffffff;
}


.contact-individual {
    margin-bottom: 4vh;
}

.link-span-container {
    margin-top: 1vh;
    margin-bottom: 3vh;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    span {
        text-align: center;
    }
}
  
@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
        overflow-x: hidden;
    }

    .split {
        display: grid;
    }

    .logo {
        max-width: 50vw;
    }
    .img-text-split p {
        max-width: 70vw;
        text-align: left;
    }

    .org-logo {
        width: 15vw;
    }

    nav {
        font-size: 11px;

        ul {
            margin-left: -4vw;
        }
        li {
            text-align: center;
            margin-right: -1.7vw;
            margin-left: -1.7vw;
            font-size: 10px;
        }
    }

    #container {
        overflow: auto;        
    }


    h1 {
        font-size: 18px;
    }

    h3, h4 {
        font-size: 12px;
    }

    p, span {
        max-width: 70vw;
        font-size: 12px;
    }

    p {
        margin-left: 5vw;
    }

    li {
        font-size: 12px;
        max-width: 60vw;
    }

    #ticket-button {
        height: 4.5vh;
        font-size: 14px;
        width: 65vw;
    }
    
    #ruut-logo {
        width: 65px;
        height: 65px;
    }

    #copyright-logo {
        font-size: 20px;
    }

    #event-countdown {
        font-size: 16px;
    }

    .contact-holder {
        justify-content: center;
        h4 {
            width: 100vw;
            margin-left: -20vw;
        }
        ul {
            width: 75vw;
        }
        li {
            display: grid;
            justify-content: center;
            span {
                text-align: center;
            }
        }
    }

    #pack-list {
        p {
            margin-left: -7.5vw;
        }
    }

    .link-span-container {
        margin-bottom: 1.5vh;
    }
}


