@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bontang";
    src: url("../fonts/Bontang-nRGPV.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    /* https://angel-rs.github.io/css-color-filter-generator/ */
    --palette-lightest-filter: brightness(0) saturate(100%) invert(61%) sepia(29%) saturate(469%) hue-rotate(187deg) brightness(105%) contrast(94%);
    --black-filter: brightness(0) saturate(100%) invert(0%) sepia(91%) saturate(37%) hue-rotate(78deg) brightness(88%) contrast(100%);
    --white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(106%) contrast(102%);

    --palette-darkest: #1a1a2e;
    --palette-dark: #16213e;
    --palette-light: #0f3460;
    --palette-lightest: #96abe9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0;
    font-size: 24px;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 1em;
    display: block;
    transition: background-color 0.3s ease;
}
nav a:hover {
    color: #ffffff99;
}

body {
    background-image: url("../assets/bg-dark-small.jpg");
    background-size: cover;
    background-position: center, center;

    color: var(--palette-lightest);
    overflow-x: hidden;
    width: 75vw;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;

    font-family: "Roboto";
    font-size: 24px;

    h1, h2, h3, h4 {
        font-family: "Bontang";
        letter-spacing: 2px;
        text-align: center;
    }
} 

.paragraph {
    display: grid;
    padding-top: 16px;
    padding-bottom: 16px;
    h3 {
        text-align: center;
    }
    ul {
        padding-left: 16px;
    }
}
.paragraph p {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.paragraph.center p {
    text-align: center;
}

.tournament-paragraph {
	margin-top: 4vh;
	margin-bottom: 4vh;
}
.tournament-sponsor, #tournament-staff {
	color: #ffffff;
}
#organizer-logo-container {
    padding-bottom: 5vw;
    display: flex;
    justify-content: center;
}
.organizer-logo {
    filter: var(--palette-lightest-filter);
    width: 6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    min-width: 64px;
    max-width: 96px;
}

#floorplan {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#haalarilanit-logo {
    filter: var(--palette-lightest-filter);
    display: block;
    width: 75vw;
    max-width: 512px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.sponsors-main-container {
    display: grid;
    background-color: #ffffff;
    border-radius: 7px;
}
.sponsors-container {
    display: flex;
    justify-content: center;
}
.sponsors-container a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sponsors-container div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.sponsors-container img {
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 13vw;
    max-width: 170px;
}
.large {
    width: 22vw !important;
    max-width: 60% !important;
    box-sizing: border-box;
}
.logo-black {
    filter: var(--black-filter);
}
.logo-white {
    filter: var(--white-filter);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--palette-lightest);
    border: 1px solid var(--palette-light);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--palette-darkest);
}

.button-container {
    form {
        display: flex;
        align-items: center;
    }
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#ticket-button {
    display: block;
    margin: 0 auto;
    align-items: center;
    appearance: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    border-width: 0;
    font-size: 24px;
    box-shadow: var(--palette-darkest) 0 2px 4px,
    var(--palette-darkest) 0 7px 13px -3px, var(--palette-lightest) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    height: 8vh;
    min-width: 15vw;
    width: 30vw;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

#ticket-button:hover {
    background-color: #eeeeee;
    box-shadow: var(--palette-darkest) 0 2px 4px,
    var(--palette-darkest) 0 7px 13px -3px, var(--palette-light) 0 -3px 0 inset;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

#event-countdown {
    border: 3px solid #ffffff;
    border-radius: 6px;
    padding: 2vw;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #ffffff;
}

.embedded-anchor {
    position: initial;
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }

    .sponsors-main-container {
        width: 95vw;
        margin-left: -10vw;
    }

    .sponsors-container {
        display: grid;
    }
    .sponsors-container a {
        width: 75vw;
    }
    .sponsors-container img {
        width: 35%;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    .large {
        width: 65% !important;
    }

    #haalarilanit-logo {
        max-width: 60vw;
    }

    #ticket-button {
        font-size: 18px;
        width: 60vw;
    }

    #event-countdown {
        font-size: 16px;
    }

    nav {
        font-size: 11px;
        max-width: 80vw;

        li {
            text-align: center;
            font-size: 11px;
        }

        a {
            padding-left: 1vw;
            padding-right: 1vw;
        }
    }

    #floorplan {
        width: 75vw;
        padding-bottom: 30vw;
    }
}
