body {
    background-image: url("../../../assets/pexels-photo-7915238.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;

    text-shadow: 1px black;

    font-size: 24px;
    font-family:'Courier New', Courier, monospace;

}

div {
    margin-left: 12.5%;
    align-items: center;
    justify-content: center;
    width:75vw;
    
}

p {
    color: white;
    text-shadow: 2px 2px 2xp solid black;
}

button {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

button:hover {
    background-color: #F0F0F0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,  	#E0E0E0 0 -3px 0 inset;
    font-weight: bold;
}

#ruut-logo {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 500px) {
    body {
    }
    p {
        width: 50vw;
        font-size: 16px;
    }
}